* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F5F1E8;
    font-family: "Albert Sans", sans-serif;
}

section.grid-con {
    margin: 25px auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "GFS Didot", serif;
}

/* Utility Classes */

.hidden {
    display: none;
}

.center-text {
    text-align: center;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pos-relative {
    position: relative;
}

.brand-red {
    color: #800020;
}

.brand-mocha {
  color: #6B5B4C;
}

.bkgr-bisque {
  background-color: #E2D8CE;
}

/*Box Class is Used to layout elements in grid - would be removed once content is added*/
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    background-color: darkgray;
    padding: 10px;
    margin: 10px 0px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.07);
}

/* Font Styling */

/* Headings */

.x-large-text {
  font-size: 60px;
}

.heading-1 {
  font-size: clamp(2.1875rem, 1.74rem + 0.14vw, 3.75rem);
  color: #6B5B4C;
  margin: 15px 0px;
}

.heading-2 {
  font-size: clamp(1.875rem, 1.53rem + 0.15vw, 3.4375rem);
}

.heading-3 {
  font-size: clamp(1.5625rem, 1.32rem + 0.16vw, 3.125rem);
  color: #6B5B4C;
  margin: 15px 0px;
}

.heading-4 {
  font-size: clamp(1.25rem, 1.1rem + 0.17vw, 2.8125rem);
}


/* Subheadings */

.subheading-1 {
  font-size: clamp(1.5625rem, 1.25rem + 0.15vw, 2.8125rem);
}

.subheading-2 {
  font-size: clamp(1.25rem, 1.05rem + 0.16vw, 2.5rem);
}

.subheading-3 {
  font-size: clamp(0.9375rem, 0.85rem + 0.17vw, 2.1875rem);
}


/* Body text */

.paragraph {
  font-size: clamp(0.875rem, 0.82rem + 0.06vw, 1.375rem);
}

.fine-print {
  font-size: clamp(0.75rem, 0.72rem + 0.04vw, 1rem);
}
