//COLOUR
$bgcolor: #F4F4F4;
$main-text-color: #505050; 
$brand-dark-red: #9B2018;
$brand-light-red: #C44242; 

//FONT SIZING
$paragraph-mobile-normal: 12px;
$paragraph-mobile-fine-print: 10px;
$button-mobile-text: 16px;
$main-heading-mobile: 20px;

//FONT FAMILIES
$primary-font: "Sanchez", serif; 
$secondary-font: Arial, Helvetica, sans-serif;

//CONTENT WIDTHS
$mobile-content-width: 342px;

//SPACING
$padding-reset: 0px;
$padding-md: 10px; 
$padding-tabs-vertical: 20px; 

$margin-reset: 0px; 
$margin-md: 10px;

//BREAKPOINTS
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px; 