.prod-advert {
    h3 {
        text-align: center;
    }
}

.advertisement-box {
    width: 100%;
    min-height: 100px;
    padding: 10px;

    > * { 
        text-align: center;
    }

    img {
        max-width: 100%;
    }
}