#news-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    button {
        margin: 15px 0px;
        padding: 15px;
        border: none;
        border-radius: 5px;
        background-color: #C94A2A;
        color: #F5F1E8;
    }
}