@use '../base' as *;

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 207px;
    grid-column: span 1;
    padding: 20px;
    text-align: left;
    color: $bgcolor;
}

.card:hover {
    cursor: pointer;
}

@media (min-width: $breakpoint-desktop) {
    .card {
        height: 275px;
    }
}

.h-flipped {
    display: none;
    font-weight: lighter;
}

.p-flipped {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.a-flipped {
    display: none;
    text-decoration: none;
    color: $bgcolor;
    margin-top: 10px;
}

.unflipped { 
    text-align: right;
}

