.contact-form {
    font-family: "Albert Sans", sans-serif;
    padding: 10px;
    border: 1px dotted black;

    > * {
        display: block;
        margin-bottom: 10px;

    }

    label, input, textarea {
        font-family: inherit;
    }

    input, textarea {
        width: 100%;
        resize: none;
        padding: 10px;
        background-color: transparent;
        border: 1px solid black;
    }

    button {
        margin: 15px 0px;
        padding: 15px;
        border: none;
        border-radius: 5px;
        background-color: #800020;
        color: #F5F1E8;
    }

    button:hover {
        cursor: pointer;
    }
}