/* Styling Related to Specific Forms */

//Contact Form - Contact Page

.contact-form {
    font-family: "Albert Sans", sans-serif;
    padding: 20px;
    border: 1px dotted black;
    margin-top: 25px;

    > * {
        display: block;
        margin-bottom: 10px;

    }

}

//Sign Up for Newsletter Button Container

#news-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* Generic Form Elements */

//Button Styling
.brand-btn {
    margin: 15px 0px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #800020;
    color: #F5F1E8;
    transition: all .3s ease-in-out;
}

button:hover {
    cursor: pointer;
    border: 1px solid #800020;
    background-color: #E2D8CE;
    color: #800020;
}

//Input Styling
input {
    width: 95%;
    height: 50px;
    margin: 10px;
    border: 1px solid #6B5B4C;
    background-color: transparent;
    color: #6B5B4C;
    padding: 10px;
}

//Textarea Styling
textarea {
    width: 95%;
    resize: none;
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid #6B5B4C;
    color: #6B5B4C;
}

//Labels use the subheading-2 and brand-red classes 

label, input, textarea {
    font-family: inherit;
}

fieldset {
    margin-top: 15px;
    padding-right: 10px;
    border: 1px solid #800020;
}

legend {
    color: #800020;
}