/*CUSTOMER SITE HEADER*/
header {
    background-color: #E2D8CE;
    padding: 20px;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            width: 100%;

            img {
                max-width: 100%;
            }
        }
    }

    nav {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.8);
        padding: 20px;
        width: 350px;
        min-height: 100vh;
        min-height: 100dvh;

        * {
            padding-left: 15px;
        }

        ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;

            li {
                a {
                    text-decoration: none;
                    color: #E2D8CE;

                    &:hover {
                        color: #800020;
                    }
                }
            }
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            position: static;
            background-color: transparent;
            padding: 0;
            width: 100%;
            min-height: fit-content;

            ul {
                flex-direction: row;

                li {
                    margin: 10px 0px;

                    a {
                        color: #6B5B4C;
                    }
                    
                }
            }
        }

    }

    nav.slide-toggle {
        display: flex;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 40px;
        }

        @media screen and (min-width: 1200px) {
            display: none;
        }
    }

    .cart {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        img {
            width: 40px;
        }
    }
}

/* ADMIN SITE TOP NAV */

.search { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100px;
    margin: 10px 0px;
    padding: 20px;

    input[type='search'] {
        width: 250px;
        height: 40px;
        padding: 8px;
        border-radius: 6px;
        border: 1px solid #6B5B4C;
        background-color: transparent;
        outline: none;
        cursor: pointer;
    }
}

.avatar-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 100px;
    margin: 10px 0px;
    padding: 20px;

    #userName {
        display: none;
    }

    .avatar-img {
        margin: 0px 10px;
        width: 75px;
        height: 75px;
        background-color: #800020;
        color: #6B5B4C;
        border-radius: 35px;
    }
}

@media screen and (min-width: 1450px) {
    #openVerticalNav {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #userName {
        display: block;
    }
}