#hero-image {
    justify-self: center;
    grid-row: 1;
}

#nested-hero-grid {
    grid-column: 2/3;
    grid-row: 1;

    h2, h3 {
        color: #F5F1E8;
        margin-bottom: 10px;
        font-weight: normal;
    }

    button {
        width: 100%;

        a {
            text-decoration: none;
            font-size: 20px;
            color: #F5F1E8;
        }
    }
}