#hero-image {
    justify-self: center;
    grid-row: 1;
}

#nested-hero-grid {
    position: absolute;
    top: 35%;      // adjust to match visual placement
    left: 8%;      // adjust to match visual placement
    transform: translateY(-50%);
    overflow: hidden;

    div {
        margin-top: 25px;
    }

    h2 {
        color: #F5F1E8;
        display: block;
        font-size: 30px;
        font-weight: normal;
        margin-top: 10px;
    }

    h3 {
        display: none;
        color: #F5F1E8;
        margin-bottom: 10px;
        font-weight: normal;
    }

    @media screen and (min-width: 768px) {
        h2 {
            font-size: 55px;
            margin-bottom: 10px;
        }

        h3 {
            display: block;
            font-size: 20px;
            width: 456px;
        }
    }

    @media screen and (min-width: 1200px) {
        h2 {
            font-size: 96px;
        }

        h3 {
            width: 743px;
        }
    }

    .call-to-action {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #800020;
        border-radius: 10px;
        border: none;
        width: 186px;
        height: 56px;
        margin-top: 10px;
        transition: all .3s ease-in-out;

        a {
            text-decoration: none;
            font-size: 16px;
            color: #F5F1E8;
        }

        @media screen and (min-width: 768px) {
            width: 274px;
            height: 68px;
            margin-top: 40px;

            a {
                font-size: 20px;
            }
        }

        &:hover {
            background-color: #F5F1E8;
            border: 1px solid #800020;
            cursor: pointer;
            
            a {
                color: #800020;
            }
        }

    }


}