div:has(article.product-card-con) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card-con {
    width: 345px;
    border: 1px solid #6B5B4C;
    padding: 10px;
    background-color: #F5F1E8;
    filter: drop-shadow(3px 3px 2px #6B5B4C);

    .card-top {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .img-previews {
            order: 2;
            display: flex;
            flex-wrap: wrap;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 95px;
                height: 90px;
                border: 1px solid #6B5B4C;
                margin-bottom: 10px;
                margin-left: 10px;

                img {
                    height: 85px;
                }
            }

            @media screen and (min-width: 768px) {
                display: block;
            }
        }

        .img-full {
            display: flex;
            justify-content: center;
            align-items: center;
            order: 1;
            margin-bottom: 15px;
            width: 100%;
            height: 390px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 390px;
            }

            @media screen and (min-width: 768px) {
                width: 175px;
            }
        }

        .product-info {
            order: 3; 
            width: 100%;
            margin-left: 10px;

            * {
                margin-bottom: 10px;
            }

            .product-flavours {
                div {
                    display: flex;
                    justify-content: left;
                    align-items: center;

                    img {
                        width: 30px;
                        margin-right: 10px;
                    }
                }
            }

            @media screen and (min-width: 768px) {
                width: 225px;
            }
        }

        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;


            .img-previews {
                order: 1;
                margin-left: 5px;
            }

            .img-full {
                order: 2;
            }

            .product-info {
                margin-right: 5px;
            }
        }

    }

    .card-btm {
        section, form {
            margin: 10px 0px;
        }

        .review-ratings {
            margin: 5px 10px;
        }

        .product-reviews {
            div {
                margin: 10px 10px;
                background-color: #E2D8CE;
                padding: 10px;

                * {
                    margin-bottom: 5px;
                }
            }
        }

        #product-review-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    @media screen and (min-width: 768px) {
        width: 535px;
    }
}