.flex-scroll {
    display: flex;
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    div {
        min-width: 250px;
        margin: 15px;
    }
}

.flex-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: lightgray;
        padding: 25px;
        min-width: 250px;
        margin: 15px;
    }
}