.flex-scroll {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    div {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        margin: 15px;
        flex-shrink: 0;

        img {
            max-width: 100%;
        }
    }
}

.flex-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
        width: 250px;

        img {
            max-width: 100%;

            &:hover {
                cursor: pointer;
            }
        }
    }
}