@use '../base' as *;

.reservation-box { 
    display: none;
    width: 342px;
    position: absolute;
    top: -425px;
    padding: $padding-tabs-vertical $padding-tabs-vertical;
    background-color: $brand-dark-red;
    color: white;

    h2 {
        font-weight: 400;
    }

    >form>* {
        display: block;
        width: 100%;
        margin: 5px 0px;
        font-family: $primary-font;
    }

    >form {
        input,button {
            padding: 10px 10px;
            border: none;
            border-radius: 5px;
            width: 100%;
        }
    }

    >form>label {
        margin-top: 10px;
    }

    >form>button {
        margin-top: 20px;
        background-color: $brand-light-red;
        color: white
    }

    >form>input {
        background-color: #f8f8f8;
        color: $main-text-color;
    }

    .select-wrapper {
        position: relative;
        width: 100%;

        > select {
            width: 100%;
            background-color: #f8f8f8;
            color: $main-text-color;
            font-family: inherit;
            appearance: none;
            -webkit-appearance: none; /* For Safari and Chrome */
            -moz-appearance: none;    /* For Firefox */
            padding: 10px 10px;
            border: none;
            border-radius: 5px;
        }

        &::after {
            content: "\2BC8"; 
            position: absolute;
            right: 12px;
            top: 50%;
            pointer-events: none;
            font-size: 16px;
            color: $main-text-color;
            z-index: 1000;
            transform: translateY(-50%) rotate(0deg);
            transition: transform 0.2s ease;
        }

    }

    .select-wrapper.arrowChange::after {
        transform: translateY(-50%) rotate(90deg); // flips arrow
    }


}

@media (min-width: $breakpoint-desktop) {
    .reservation-box {
        display: block;
    }
}