@use '../base' as *;

.tab-tags { 
    width: 342px;
    position: absolute;
    top: -55px;
    padding: $padding-tabs-vertical $padding-md;
    background-color: white;
}

.resort-name { 
    color: $brand-dark-red;
    font-family: $secondary-font;
}

.tab-headings { 
    color: $main-text-color;
}

@media (min-width: $breakpoint-desktop) { 
    .tab-tags {
        width: 500px;
    }
}