.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    padding: 0px;

    li {
        padding: 15px;
        background-color: #B8B1A9;
        color: #F5F1E8;
    }
}

.tab-details { 
    display: flex;
    padding: 10px;
    width: 100%;
    min-height: 100px;
    background-color: darkgray;
    box-shadow: 0 4px 12px rgba(0,0,0,0.07);

    .details-text {
        display: inline-block;
        width: 50%;
    }

    .details-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        background-color: #4a4a4a;
        border-radius: 10px;
        color: #fff;
    }
}