#vertical-nav {
    display: none;
}

#vertical-nav.open {
    display: flex;
}

.vertical-nav {
    width: 250px;
    background: white;
    padding: 20px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.05);
    height: 100vh;
    max-height: 100vh;
    display: flex;
    position: absolute;
    top: 0;

    .logo {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 30px;

        button {
            float: right;
        }
    }

    nav {
        width: 100%;
    }

    ul {
        list-style-type: none;
        padding: 0px;

        li {
            background-color: #E2D8CE;
            padding: 20px 10px;
            margin-bottom: 10px;
            width: 100%;
            border-radius: 10px;
            text-align: center;
        }
    }

    .toggle-btn {
        background-color: transparent;
        border: none;
        font-size: 16px;
        color: #6B5B4C;
        cursor: pointer;
    }
}

#submenu-web {
    display: none;
    margin-top: 15px;
    border-top: 1px solid #6B5B4C;
    padding-top: 15px;

    li {
        margin: 0px;
        padding: 5px;

        a {
            text-decoration: none;
            color: #6B5B4C;

            &:hover {
                color: #800020;
            }
        }
    }
}

#submenu-web.open {
    display: block;
}

@media screen and (min-width: 1450px) {
    .logo button {
        display: none;
    }
}

@media screen and (min-width: 1450px) {
    .vertical-nav {
        width: 100%;
        position: sticky;
    }

    #vertical-nav {
        display: flex;
    }
}