.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    * {
       margin: 10px 0px; 

       @media screen and (min-width: 768px) {
            margin: 0px;
       }
    }
    
    img { 
        width: 100%;
        max-width: 40px;
    }
}


/* Styling for the page links strip on the contacts page */

.links-box-container {
    position: relative;
    top: 10px;
    left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: 768px) {
        top: 125px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.links-box {
    margin: 0px 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;

    p {
        padding: 15px 0px;
        padding-left: 15px;
        color: #6B5B4C;

        @media screen and (min-width: 768px) {
            padding: 15px 0px;
        }
    }

    @media screen and (min-width: 768px) {
        flex-direction: column;
        padding: 0px;
    }

}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.links-bkg-box {
    width: 100%;
    height: 525px;
    position: absolute;
    z-index: -1;
    // background-color: #800020; //keeping this till I'm sure about which colour I want
    background-color: #E2D8CE;

    @media screen and (min-width: 768px) {
        height: 200px;
        position: static;
    }
}