@use '../base' as *;

/* ====================================
Styling specifically for PACKAGES page
===================================== */

.deals-image {
    width: 100%;
    padding-top: 10px;
}

.deals-heading {
    margin-top: 40px;
    margin-bottom: 40px;
    color: $main-text-color;
}